@import 'utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #eee;
    color: #636161;
    text-align: center;
    height: 2000px; //to delete after !!
}

a {
    text-decoration: none;
    color: $links-color;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

strong {
    color: $primary-color;
    font-size: 2.5rem;
}

nav {
    position: absolute;
    z-index: 99;
    width: 100%;

    ul {
        display: flex;
        justify-content: flex-start;
        border-radius: 3px;
        background: rgba(2, 2, 20, 0.22);
        align-items: center;

        li {
            a {
                font-size: 1.2rem;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $orange;
                }
            }
        }
    }


}

header {
    height: 100vh;
    width: 100vw;
    background: url(../dist/img/headBg.jpeg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    p {
        font-size: 2rem;
    }

    .fa-pizza-slice {
        color: $orange;
        font-size: 3rem;
    }

    strong {
        color: $primary-color;
        font-size: 2rem;
        font-weight: 100;
    }
}

.categories-container {

    top: 105%;
    width: 100%;



    .categories {
        margin: 0 auto;
        display: grid;
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        &>* {
            background: $white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // align-items: center;
            height: 350px;
            box-shadow: 0 10px 6px -6px #777;
        }

        .img {

            height: 200px;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;

            &.img-salad {
                background: url(../dist/img/salads.jpeg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &.img-drink {
                background: url(../dist/img/drinks.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &.img-dessert {
                background: url(../dist/img/desserts.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}

.recipesApi {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 2rem;

    .recipe {
        background: #fff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        // height: 350px;
        padding: 1rem;
    }
}

input[type="search"],
button[type="search"] {
    outline: none;
    position: absolute;
    right: 7rem;
    // background: rgb(233, 230, 230);
    max-width: 20rem;
    // border: 1px solid #ffc15b;
    border-radius: 5px;
}

input[type="search"] {
    padding: 5px;
}

button[type="search"] {
    right: 1rem;

}