.img {
  width: auto;
  height: auto;
}

.btn {
  outline: none;
  background: #5dc2d7;
  color: rgba(255, 255, 255, 0.9);
  border: 0;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  margin: 0 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #77d205;
}

.title {
  font-size: 4.3rem;
  color: #77d205;
  font-family: 'Amaticbold', cursive;
  font-weight: 100;
}

.title-second {
  font-size: 2rem;
}

.paragraph {
  width: 50%;
}

.mg-y {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mg-x {
  margin-right: 1rem;
  margin-left: 1rem;
}

.pd {
  padding-right: 1rem;
  padding-left: 1rem;
}

.banner {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  border-radius: 5px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.9);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #eee;
  color: #636161;
  text-align: center;
}

a {
  text-decoration: none;
  color: #efeeee;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

strong {
  color: #77d205;
  font-size: 2.5rem;
}

nav {
  position: absolute;
  z-index: 99;
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 3px;
  background: rgba(2, 2, 20, 0.22);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li a {
  font-size: 1.2rem;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #fab95b;
}

header {
  height: 100vh;
  width: 100vw;
  background: url(../dist/img/headBg.jpeg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

header p {
  font-size: 2rem;
}

header .fa-pizza-slice {
  color: #fab95b;
  font-size: 3rem;
}

header strong {
  color: #77d205;
  font-size: 2rem;
  font-weight: 100;
}

.categories-container {
  top: 105%;
  width: 100%;
}

.categories-container .categories {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.categories-container .categories > * {
  background: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 350px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.categories-container .categories .img {
  height: 200px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.categories-container .categories .img.img-salad {
  background: url(../dist/img/salads.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.categories-container .categories .img.img-drink {
  background: url(../dist/img/drinks.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.categories-container .categories .img.img-dessert {
  background: url(../dist/img/desserts.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipesApi {
  width: 70%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 2rem;
}

.recipesApi .recipe {
  background: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.recipesApi .recipe .recipe-title {
  color: #77d205;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.recipesApi .recipe .recipe-title:hover {
  color: #fab95b;
}

.recipesApi .recipe img {
  cursor: pointer;
}

.recipesApi .recipe span {
  font-weight: bold;
  color: #bd4141;
}

.recipesApi .recipe .healthLabels {
  font-size: 0.9rem;
}

input[type="search"],
button[type="search"] {
  outline: none;
  max-width: 20rem;
  border-radius: 5px;
}

nav form {
  position: absolute;
  right: 3rem;
}

input[type="search"] {
  padding: 5px;
}

button[type="search"] {
  right: 1rem;
  margin: 0;
}

#animated-gif {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 auto;
}

.login {
  background: #1D976C;
  background: -webkit-gradient(linear, left top, right top, from(#93F9B9), to(#1D976C));
  background: linear-gradient(to right, #93F9B9, #1D976C);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .container {
  background: #ffffff;
  width: 370px;
  height: 60%;
  -webkit-box-shadow: 0 2px 18px;
          box-shadow: 0 2px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login .container svg {
  margin: auto;
  margin: 0 6.5rem;
}

.login .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .container form > * {
  margin-bottom: 1rem;
}

.login .container input {
  background: #f2f2f2;
  outline: none;
  border: 0;
  padding: 0.6rem;
}

.login .container button {
  background: #00b241;
  padding: 0.6rem;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: 0;
}

.login .container p {
  color: #d0d0d0;
  font-weight: 600;
}

.login .container p a {
  color: #00b241;
}

.back {
  display: block;
  position: absolute;
  top: 8%;
  left: 5%;
  color: #00b241;
  font-weight: bold;
}

.resultsFor {
  font-family: 'Amaticbold', cursive;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */