body {
   background-image: url("./images/headBg.jpeg")
}

#mainText {
  text-align: center;
  font-size: 28pt;
  color:  #333333;
  margin-top: 3rem;
}

.search-container {
  text-align: center;
}

.search-container input[type=text] {
  width: 40%;
  padding: 6px;
  font-size: 17px;
  border: none;
}

.search-container button {
  padding: 6px 10px;
  margin-left: -5px;
  background: #e6e6e6;
  color: #81b441;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

 .search-container button:hover {
  background: #ccc;
}

#hrStyle {
  width: 100%;
  margin-top: 25px;
}


#recipeList {
  text-align: center;
  font-size: 28px;
  color: #333333;
  margin-top: 3%;
}


#recipeContainers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.recipeCards {
  width: 250px;
  height: 300px;
  background-color: white;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 25px;
}

.recipeCards img {
  width: 250px;
  height: 150px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.recipeDetails {
  text-align: center;
}

.btn{
  background-color: #d9d9d9;
  height: 35px;
  padding:20px;
  padding-bottom: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.details {
  background-color: #fab95b;
  width: 20px;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 10px 15px;
}

.recipeUrl {
  background-color: #81b441;
  width: 20px;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;

}
